.memoryGame {
  margin: 0 auto;
  text-align: center;
  width: 80%;

  .memoryGame-card {
    display: inline-block;
    cursor: pointer;
    margin: 15px 1%;
    max-width: 350px;
    position: relative;
    text-align: center;
    width: 30%;

    .memoryGame-card-hover {
      background-color: white;
      bottom: 0;
      left: 0;
      opacity: .7;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.5s;
    }

    .memoryGame-image {
      width: 100%;
    }

    &:hover,
    &.--active {
      .memoryGame-card-hover {
        opacity: 0;
      }
    }

    &.--demonstration {
      pointer-events: none;
    }
  }
}