.memoryGame {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1350px;
  text-align: center;
  width: 80%;

  .memoryGame-card {
    display: inline-block;
    cursor: pointer;
    margin: 0 1% 5px;
    max-width: 250px;
    position: relative;
    text-align: center;
    width: 30%;

    .memoryGame-card-hover {
      background-color: white;
      bottom: 0;
      left: 0;
      opacity: .7;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.5s;
    }

    .memoryGame-image {
      width: 100%;
    }

    &:hover,
    &.--active {
      .memoryGame-card-hover {
        opacity: 0;
      }
    }

    &.--disabled {
      pointer-events: none;
    }
  }

  .memoryGame-action {
    left: 2%;
    margin-top: -130px;
    position: fixed;
    top: 50%;
    width: 10%;

    .memoryGame-action-startButton,
    .memoryGame-action-goldButton {
      -webkit-border-radius: 6px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: bold;
      font-size: 14px;
      height: 30px;
      line-height: 15px;
      margin-bottom: 20px;
      padding: 6px;
      text-decoration: none;
      width: 100%;
    }
    .memoryGame-action-startButton {
      background-color: #74ad5a;
      border: 1px solid #3b6e22;
      color: #ffffff;
      font-weight: bold;
      margin-top: 30px;
      height: 40px;
      line-height: 20px;

      &:hover {
        background-color:#68a54b;
      }

      &:disabled {
        cursor: not-allowed;
        background-color: gray;
      }
    }
    .memoryGame-action-select {
      width: 100%;
      height: 30px;
      margin: 5px 0 20px;
      line-height: 30px;
      cursor: pointer;
      padding: 0 10px;
      outline: 0;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
      background: #ffffff;
      color: black;
      &:disabled {
        cursor: not-allowed;
      }
    }
    .memoryGame-action-goldButton {
      -webkit-box-shadow: inset 0 1px 0 0 #fff6af;
      box-shadow: inset 0 1px 0 0 #fff6af;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
      background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
      background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
      background-color: #ffec64;
      border: 1px solid #ffaa22;
      color: #333333;
      text-shadow: 0 1px 0 #ffee66;

      &:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
        background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
      }
    }
  }

  .memoryGame-score {
    border: 2px solid darkgrey;
    border-radius: 6px;
    padding: 5px;

    span {
      display: block;
    }
  }
}

@media (max-width: 1080px) {
  .memoryGame {
    .memoryGame-card {
      max-width: 130px;
      width: 45%;
    }
    .memoryGame-action {
      width: 100%;
      position: relative;
      margin-top: 0;

      div {
        width: 120px;
        display: inline-block;
        margin: 10px 15px;
      }
      .memoryGame-action-select,
      .memoryGame-action-startButton,
      .memoryGame-action-goldButton {
        margin: 0;
      }
    }
  }
}

@media (max-width: 860px) {
  .memoryGame {
    .memoryGame-action {
      width: 100%;
      position: relative;
      margin-top: 0;

      div {
        width: 100px;
        display: inline-block;
        margin: 10px 15px;
      }
      .memoryGame-action-select,
      .memoryGame-action-startButton,
      .memoryGame-action-goldButton {
        margin: 0;
      }

      .memoryGame-score {
        display: inline-block;
      }
    }
  }
}